body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #1A285A;
}

.merch {
  color: #1A285A;
}

.merchFooter {
  color: #82CA81;
}

.brand-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  font-size: 1.25rem;
}

.brand-section h1 {
  font-size: 3rem;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation a {
  color: #f5f5f5;
  margin-right: 2%;
  margin-top: 1%;
  font-size: 1.5rem;
  text-decoration: none;
}

.navigation a:hover {
  transform: scale(1.1);
}

.storeFront {
  position: relative;
  width: 60vw;
  margin: auto auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.adjustableButton {
  position: relative;
  height: 125px;
  width: 125px;
  padding: 1%;
  border-radius: 50%;
  border: 1px solid #82CA81;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adjustableButton button {
  background-color: transparent;
  color: #1A285A;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 2rem;
}

.adjustableButton button:hover {
  transform: scale(1.25);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 40%;
  padding: 2%;
  color: #f5f5f5;
  border: 1px solid #82CA81;
  background-color: #82CA81;
} 

input {
  color: #1A285A;
  margin-bottom: 2%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid #82CA81;
  padding: 1%;
}

button.formButton {
  height: 1.5rem;
  background-color: #82CA81;
  color: #f5f5f5;
}